<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-3">
            One of three columns
        </div>
        <div class="col-6">

            <div class="card my-3">
                <div class="m-2 d-flex">
                    <img src="assets/mob_img.jpg" alt="HP" style="height: 35px;
                    width: 35px;
                    border: none;
                    border-radius: 20px 20px 20px 20px;">

                    <!-- <button class="btn btn-outline-primary mx-3">
                        Post a Tippani
                        <span class="mx-1 pi pi-plus"></span>
                    </button> -->

                    <div class="mt-0">
                        <p-button styleClass="postButton" [outlined]="true" label="Post a Tippani"
                            icon="pi pi-plus"></p-button>
                    </div>


                    <div class="mx-3 mt-1" style="scale: 1.1;">
                        <span class="pi pi-image text-success mx-1"></span>
                        <span>Media</span>
                    </div>

                    <div class="mx-3 mt-1" style="scale: 1.1;">
                        <span class="pi pi-calendar text-warning mx-1"></span>
                        <span>Events</span>
                    </div>

                </div>
            </div>

            <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 145px)' }">
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                    <hr>
                    <div>
                        <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success" />
                        <p-button icon="pi pi-check" [rounded]="true" />
                    
                    </div>

                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>

            </p-scrollPanel>

        </div>
        <div class="col-3">
            One of three columns
        </div>
    </div>
</div>

