<app-navbar></app-navbar>

<div class="container ">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            One of three columns
        </div>
        <div class="col-12 md:col-6 lg:col-5">

            <p-card styleClass="my-3">
                <div class="grid ">
                    <div class="col-12 md:col-6 lg:col-1">
                        <img src="assets/mob_img.jpg" alt="HP" class="feed-profile-pic">
                    </div>
                    <div class="col-12 md:col-6 lg:col-5">
                        <p-button styleClass="postButton" [outlined]="true" label="Post a Tippani"
                            icon="pi pi-plus"></p-button>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6 mt-3">
                        <div class="grid">
                            <div class="mx-3 mt-1" style="scale: 1.1;">
                                <span class="pi pi-image text-green-500 mx-1"></span>
                                <span>Media</span>
                            </div>
                            <div class="mx-3 mt-1" style="scale: 1.1;">
                                <span class="pi pi-calendar text-orange-500 mx-1"></span>
                                <span>Events</span>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>


            <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 145px)' }">

                @for (feed of sampleFeeds; track $index) {
                <p-card styleClass="feed-card">
                    <div class="flex flex-row flex-wrap">
                        <div class="flex m-2">
                            <img src="assets/mob_icon.jpg" alt="HP" class="feed-profile-pic">
                        </div>
                        <div class="flex m-2 ">
                            <span>User name</span>
                        </div>
                        <div class="flex m-2">

                        </div>
                    </div>
                    <div class="flex flex-column">
                        <div class="flex align-items-center justify-content-center ">
                            <img src="{{feed.image}}" alt="" class="feed-image">
                        </div>
                        <div class="flex align-items-center justify-content-start ">
                            <span>{{feed.text}}</span>
                        </div>
                    </div>

                    <div class="flex">
                        @if (isLiked){
                            <p-button icon="pi pi-heart-fill" styleClass="custom-heart-icon" [rounded]="true" [text]="true" severity="danger"
                            styleClass="scale-point-eight" label="{{feed.likes}}" />
                        }@else{
                            <p-button icon="pi pi-heart"  [rounded]="true" [text]="true" severity="success"
                            styleClass="scale-point-eight" label="{{feed.likes}}" />
                        }
                        
                        <p-button icon="pi pi-comments" [rounded]="true" [text]="true" label="{{feed.comments}}"
                            styleClass="scale-point-eight" />

                    </div>
                </p-card>
                }

            </p-scrollPanel>

        </div>
        <div class="col-12 md:col-6 lg:col-4">
            One of three columns
        </div>
    </div>
</div>