<app-navbar></app-navbar>

<div class="container ">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-2">
            One of three columns
        </div>
        <div class="col-12 md:col-6 lg:col-7">

            <p-card styleClass="my-3">
                <div class="grid ">
                    <div class="col-12 md:col-6 lg:col-2">
                        <img src="assets/mob_img.jpg" alt="HP" class="feed-profile-pic" >
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <p-button styleClass="postButton"  [outlined]="true" label="Post a Tippani"
                            icon="pi pi-plus"></p-button>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4 mt-3">
                        <div class="grid">
                            <div class="mx-3 mt-1" style="scale: 1.1;">
                                <span class="pi pi-image text-green-500 mx-1"></span>
                                <span>Media</span>
                            </div>
                            <div class="mx-3 mt-1" style="scale: 1.1;">
                                <span class="pi pi-calendar text-orange-500 mx-1"></span>
                                <span>Events</span>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>


            <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 145px)' }">
               
                <p-card styleClass="feed-card">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                    <hr>
                    <div>
                        <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success" />
                        <p-button icon="pi pi-check" [rounded]="true" />

                    </div>
                </p-card>
               
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>
                <div class="card my-1">
                    Lorem ipsum dolor sit amet...
                </div>
                <div class="card my-1">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </div>
                <div class="card my-1">
                    At vero eos et accusamus et iusto odio dignissimos...
                </div>

            </p-scrollPanel>

        </div>
        <div class="col-12 md:col-6 lg:col-3">
            One of three columns
        </div>
    </div>
</div>